<p>menu works!</p>
<button routerLink="item1" [queryParams]="{'cattype':'beverages'}">beverages</button>
<button routerLink="item1" [queryParams]="{'cattype':'Combos'}">Combos</button>
<button routerLink="item1" [queryParams]="{'cattype':'snacks'}">snacks</button>
<button routerLink="item1" [queryParams]="{'cattype':'popcorn'}">popcorn</button>
<button routerLink="item1" [queryParams]="{'cattype':'pastry & Icecream'}">pastry & Icecream</button>

<button routerLink="/User/order">order</button>
<router-outlet></router-outlet>